* {
  margin: 0;
}
.grid__container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 150px;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header header"
    "nav sidebar"
    "content sidebar"
    "footer footer";
}
.header {
  grid-area: header;
  font-size: 2rem;
  text-align: center;
  background-color: #5ad;
  padding: 1rem 0;
  color: #fff;
}
.nav {
  grid-area: nav;
  background-color: #5ad;
  color: #fff;
  border-top: 1px solid #1b98f5;
}
.sidebar {
  grid-area: sidebar;
  background-color: #383cc1;
  padding: 10px;
  color: #fff;
}
.content {
  grid-area: content;
  margin: 1rem;
  /* background-color: #5ad; */
}

.footer {
  grid-area: footer;
  background-color: #5ad;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}
.nav__items {
  display: flex;
  justify-content: center;
}
.nav__items li {
  list-style: none;
  padding: 0.5rem;
}

/* .container {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px 200px;
  grid-template-areas:
    "first second"
    "third fourth"
    "fifth sixth"; */
/* grid-gap: 10px; */
/* grid-auto-rows: 500px; */
/* } */
/* .container div {
  background-color: #111;
  border: 1px solid yellow;

  color: yellow;
}
.sixth {
  grid-area: second;
}
.fifth {
  grid-area: first;
} */
